# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/spring-boot-demo.iml
.idea/workspace.xml
mvnw
